/*Young serif*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
/*Outfit*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
/*Bulma*/
/* @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"; */

:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);

    --font-family-preparation-time: 'Outfit';
    --font-family-base: 'Young Serif';
}

body {
    font-family: var(--font-family-preparation-time);
    background-color: var(--Stone100);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

article {
    background-color: var(--White);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1440px;
    min-width: 320px;
}

article h2,h3 {
    font-family: var(--font-family-base);
    font-size: 30px;
    color: var(--Stone900);
    font-weight: 400;
}
article p, ul, ol, td {
    font-family: var(--font-family-preparation-time);
    color: var(--Stone600);
    font-weight: 300;
    line-height: 1.6;
}

article .imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

article .tiempo-preparacion {
    
    font-size: 14px;
    background-color: var(--Rose50);
    padding: 0.5rem 2rem;
    border-radius: 5px;
}
article .tiempo-preparacion h4 {
    margin: 0;
    font-size: 16px;
    color: var(--Rose800);
    font-weight: 600;
}
article .tiempo-preparacion ul {
    padding: 0 1rem;
    margin: 0;
    font-weight: 400;
}
article .tiempo-preparacion ul li {
    padding: 0.2rem 0;
    padding-left: 15px;
}

article .ingredientes, article .instrucciones {
    border-bottom: var(--Brown-800) .4px solid;
}

article h3{
    color: var(--Brown-800);
}

article .ingredientes ul {
    padding: 0 1.5rem;
    
    font-weight: 400;
}

article .ingredientes ul li{
    padding: 0.2rem 0;
    padding-left: 15px;
} 

article .instrucciones ol {
    padding: 0 1.5rem;
    list-style: outside;
    list-style-type: decimal;
    font-weight: 400;
}
article .instrucciones ol li{
    padding: 0.3rem 0;
    padding-left: 10px;
}

article .tabla-nutricion table {
    width: 100%;
    margin-top: 10px;
}
article .tabla-nutricion table tr td:last-child {
    color: var(--Brown-800);
    font-weight: 600;
    
}
article .tabla-nutricion table td {
    padding: 8px;
    border-bottom: 1px solid var(--Stone150);
}